<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>

    <!-- Root menu -->
    <menuitem name="Si-PLang"
              id="menu_si_plang_root"
              sequence="50"/>

    <!-- Dashboard → tampilkan custom owl dashboard -->
    <menuitem name="Dashboard"
              id="menu_si_plang_dashboard"
              parent="menu_si_plang_root"
              action="action_si_plang_dashboard"
              sequence="10"/>

    <!-- Paket Penyedia -->
    <menuitem name="Paket"
              id="menu_si_plang_paket"
              parent="menu_si_plang_root"
              action="action_si_plang_paket"
              sequence="20"/>

    <!-- Kontrak -->
    <menuitem name="Kontrak"
              id="menu_si_plang_kontrak"
              parent="menu_si_plang_root"
              action="action_si_plang_kontrak"
              sequence="30"/>

  </data>
</odoo>
