# Python
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE / Code Editors
.idea/
.vscode/
*.swp
*.swo
*~
.project
.pydevproject

# Virtual Environments
venv/
env/
ENV/
.env

# Odoo specific
*.filestore
/data/
/log/
*.log

# Docker (if you decide to map local data folders instead of volumes)
/pgdata/
/odoo_data/
